<h3 class="text-center">{{leyenda}} - {{progreso}}</h3>

<div class="card">
  <div class="card-body">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-warning" type="button" id="button-addon1" (click)="cambiarValor(-5)">
          <i class="mdi mdi-minus"></i>
        </button>
      </div>
      <input type="number" class="form-control" placeholder="" name="progreso" [(ngModel)]="progreso"
        (ngModelChange)="onChange($event)" min="0" max="100">
      <div class="input-group-append">
        <button class="btn btn-warning" type="button" id="button-addon2" (click)="cambiarValor(+5)">
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>
