<div class="row">
  <div class="col-6">
    <app-grafico-donuts [dataDesdeFuera]="graficos.grafico1.data" [labelsDesdeFuera]="graficos.grafico1.labels"
      [chartTypeDesdeFuera]="graficos.grafico1.type" [colorDesdeFuera]="graficos.grafico1.color"
      [titulo]="graficos.grafico1.leyenda">
    </app-grafico-donuts>
  </div>
  <div class="col-6">
    <app-grafico-donuts [dataDesdeFuera]="graficos.grafico2.data" [labelsDesdeFuera]="graficos.grafico2.labels"
      [chartTypeDesdeFuera]="graficos.grafico2.type" [colorDesdeFuera]="graficos.grafico2.color"
      [titulo]="graficos.grafico2.leyenda">
    </app-grafico-donuts>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-grafico-donuts [dataDesdeFuera]="graficos.grafico3.data" [labelsDesdeFuera]="graficos.grafico3.labels"
      [chartTypeDesdeFuera]="graficos.grafico3.type" [colorDesdeFuera]="graficos.grafico3.color"
      [titulo]="graficos.grafico3.leyenda">
    </app-grafico-donuts>
  </div>
  <div class="col-6">
    <app-grafico-donuts [dataDesdeFuera]="graficos.grafico4.data" [labelsDesdeFuera]="graficos.grafico4.labels"
      [chartTypeDesdeFuera]="graficos.grafico4.type" [colorDesdeFuera]="graficos.grafico4.color"
      [titulo]="graficos.grafico4.leyenda">
    </app-grafico-donuts>
  </div>
</div>
